* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

.global-header {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo img {
  width:200px;
  margin-left:100px;
}

.gnb-main-list {
  display: flex;
}

.gnb-main-item {
  position: relative;
}

.gnb-main-item a {
  display: block;
  height: 85px;
  line-height: 85px;
  text-align: center;
  padding: 0 20px;
}

.gnb-main-item a.active {
  color:darkblue;
}

.sub {
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  display: none;
}

.sub li a {
  font-size: 15px;
}

.sub:before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #113676;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}